@using G9L.Data.ViewModel.Common
@using G9L.Common.SystemBase
@model PagedResult<G9L.Data.ViewModel.Catalog.Product.GetManagerProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Danh sách sản phẩm</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">

                        <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#modal-form">
                            Thêm
                        </button>
                        <button id="deleteByID" class="btn btn-sm text-white" onclick="deleteID()" style="background-color:#f5365c;" disabled>Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="header-body">
                <form method="get" asp-controller="Product" asp-action="Index">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Tìm kiếm</label>
                                <input name="KeyWord" class="form-control" type="search" placeholder="Bạn cần tìm gì...........">
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Nhà sản xuất</label>
                                <select name="ManufactureID" onchange="this.form.submit()" asp-items="@ViewBag.Manufactures" class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Loại sản phẩm</label>
                                <select name="ProductTypeID" onchange="this.form.submit()" asp-items="@ViewBag.ProductType" class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Vị trí</label>
                                <select name="StorageLocations" onchange="this.form.submit()" asp-items="@ViewBag.Product" class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Sản phẩm</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort text-center">
                                        <input type="checkbox">
                                    </th>
                                    <th scope="col">STT</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Vị trí</th>
                                    <th scope="col">Tên nhà sản xuất</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Giá bán</th>
                                    <th scope="col">Loại hàng</th>
                                    <th scope="col">Note</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Items)
                                {
                                <tr>
                                    <td class="text-center">
                                        <input type="checkbox" id="@item.ID" onchange="addIDToArray('@item.ID')">
                                    </td>
                                    <td >
                                        
                                    </td>
                                    <th>
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <span class="name mb-0 text-sm">@Html.DisplayFor(modelItem => item.Name)</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget  text-center text-sm ">
                                        @Html.DisplayFor(modelItem => item.StorageLocations)
                                    <td class="budget  text-center">
                                        @Html.DisplayFor(modelItem => item.ManufactureName)
                                    </td>
                                    <td class="budget text-center">
                                        @Html.DisplayFor(modelItem => item.Quantily)
                                    </td>
                                    <td class="budget text-sm">
                                        @Html.DisplayFor(modelItem => item.Price)0
                                    </td>
                                    <td class="budget ">
                                        @Html.DisplayFor(modelItem => item.ProductTypeName)
                                    </td>
                                    <td class="budget">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="text-right">
                                        <button type="button" class="btn btn-sm btn-icon-only text-light" data-toggle="modal"
                                                data-target="#modal-notification">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>
    <!-- Create content -->
    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-notification">Thêm sản phẩm</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card-body px-lg-3 py-lg-0">
                            <form role="form" method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Product">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên sản phẩm</span>
                                        </div>
                                        <input name="ProductName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                               required oninvalid="this.setCustomValidity('Không được để trống thông tin này')" onchange="this.setCustomValidity('')">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Vị trí</span>
                                        </div>
                                        <input type="text" name="StorageLocations" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Giá</span>
                                        </div>
                                        <input name="Price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                               required oninvalid="this.setCustomValidity('Không được để trống thông tin này')" onchange="this.setCustomValidity('')">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Số lượng</span>
                                        </div>
                                        <input class="form-control" name="Quantily" type="number" value="0" id="example-number-input">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên nhà cung cấp</span>
                                        </div>
                                        <select class="form-control" name="ManufactureID" asp-items="@ViewBag.Manufactures" id="exampleFormControlSelect1">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên loại sản phẩm</span>
                                        </div>
                                        <select class="form-control" name="ProductTypeID" asp-items="@ViewBag.ProductType" id="exampleFormControlSelect1" \
                                                required oninvalid="this.setCustomValidity('Không được để trống thông tin này')" onchange="this.setCustomValidity('')">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Chú thích</span>
                                        </div>
                                        <textarea name="Description" class="form-control" aria-label="With textarea"></textarea>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary ">Thêm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Update content -->
    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary border-0 mb-0">
                        <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-notification">Chỉnh sửa sản phẩm</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="card-body px-lg-3 py-lg-0">
                            <form role="form" method="post" enctype="multipart/form-data" asp-action="Update" asp-controller="Product">
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Mã sản phẩm</span>
                                        </div>
                                        <input id="productID" type="text" name="ProductID" value="1" class="form-control text-red" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên sản phẩm</span>
                                        </div>
                                        <input id="productName" name="ProductName" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Vị trí</span>
                                        </div>
                                        <input type="text" id="storageLocations" name="StorageLocations" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Giá</span>
                                        </div>
                                        <input type="text" id="price" name="Price" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.000</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Số lượng</span>
                                        </div>
                                        <input name="Quantily" class="form-control" type="number" id="quantily">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên nhà cung cấp</span>
                                        </div>
                                        <select name="ManufactureID" class="form-control" asp-items="@ViewBag.Manufactures" id="manufactureID">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroup-sizing-default">Tên loại sản phẩm</span>
                                        </div>
                                        <select name="ProductTypeID" class="form-control" asp-items="@ViewBag.ProductType" id="productTypeID">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Chú thích</span>
                                        </div>
                                        <textarea id="description" name="Description" class="form-control" aria-label="With textarea"></textarea>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mb-3">Cập nhật</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    BaseLocalhost = '@SystemConnection.BaseConnection'

    listID = [];

    function deleteItemInArray(arr, item) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === item) {
                arr.splice(i, 1);
                i--;
            }
        }
    };

    function findID(arr, item) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === item) {
                return true;
            }
        }
    };

    function toggleButton() {
        if (listID.length == 0) {
            $('#deleteByID').prop('disabled', true);
        } else {
            $('#deleteByID').prop('disabled', false);
        }
    };

    function addIDToArray(ID) {
        if (!findID(listID, ID)) {
            listID.push(ID);

            console.log(listID)

        } else {
            deleteItemInArray(listID, ID);
        }
        toggleButton()
    };

    async function deleteID() {
        for (var i = 0; i < listID.length; i++) {
            await $.ajax({
                url: BaseLocalhost + '/api/Product/DeleteToProduct/' + listID[i],
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert('Thanh cong')
                },
                error: function () {
                    console.log('Connect failed');
                },
            });
        }
        location.reload();
    }

    async function viewtDetail(ID) {
        await $.ajax({
            url: BaseLocalhost + '/api/Product/GetToProduct/' + ID + '/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $('#productID').html(data.id);
                $('#productName').html(data.name);
                $('#storageLocations').html(data.numberPhone);
                $('#price').html(data.address);
                $('#quantily').html(data.id);
                $('#manufactureID').html(data.name);
                $('#productTypeID').html(data.numberPhone);
                $('#description').html(data.address);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
    }

</script>
