@using G9L.Data.ViewModel.Catalog.Import
@using G9L.Data.Enum
@model GetImportAndImportDetailsViewModel<G9L.Data.ViewModel.Catalog.Import.GetImportDetailsVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/Import/Index">Danh sách nhập hàng</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Danh sách chi tiết nhập hàng</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">

                        <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#modal-form">
                            Thêm
                        </button>
                        <button id="deleteByID" class="btn btn-sm text-white" onclick="deleteID()" style="background-color:#f5365c;" disabled>Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-7">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Chi tiết phiếu nhập</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr class="text-center">
                                    <th scope="col" style="width:0px">

                                    </th>
                                    <th scope="col" class="sort" data-sort="budget">STT</th>
                                    <th scope="col" class="sort" data-sort="name">Tên</th>
                                    <th scope="col" class="sort" data-sort="name">Đơn vị tính</th>
                                    <th scope="col" class="sort" data-sort="budget">Số lượng </th>
                                    <th scope="col" class="sort" data-sort="budget">Giá tiền</th>
                                    <th scope="col" class="sort" data-sort="budget">Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Items)
                                {
                                <tr>
                                    <td class="text-center">
                                        <button class="btn btn-icon btn-sm btn btn-outline-danger" type="button">
                                            <span class="btn-inner--icon"><i class="fa-solid fa-xmark"></i></span>
                                        </button>
                                    </td>
                                    <td>
                                    </td>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div class="media-body">
                                                <select class="form-control" disabled>
                                                    <option value="@item.ProductID" >@item.ProductName</option>
                                                </select>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option value="@item.IsUnit" hidden>@item.IsUnit</option>
                                            <option value="1">Cái</option>
                                            <option value="2">Lon</option>
                                            <option value="3">Bộ</option>
                                            <option value="4">Hộp</option>
                                            <option value="5">Thùng</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="number" value="@item.Quantily">
                                    </td>
                                    <td class="budget">
                                        <div class="input-group">
                                            <input type="number" class="form-control text-right"
                                                   aria-label="Dollar amount (with dot and two decimal places)" value="@item.CostPrice">
                                            <div class="input-group-append">
                                                <span class="input-group-text">.000</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="text" class="form-control text-right"
                                                   aria-label="Dollar amount (with dot and two decimal places)"  readonly>
                                            <div class="input-group-append">
                                                <span class="input-group-text">.000</span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                }

                            </tbody>

                        </table>
                        <div class=" text-right m-3" >
                            <strong>Tổng cộng: @Model.TotalAmount</strong>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

