@using G9L.Data.ViewModel.Common
@using G9L.Common.SystemBase
@model PagedResult<G9L.Data.ViewModel.Catalog.Import.GetImportViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<main>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Danh sách nhà cung cấp</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-6 col-5 text-right">

                        <button type="submit" class="btn btn-sm btn-neutral" data-toggle="modal" onclick="createImport()" data-target="#modal-form">
                            Thêm
                        </button>

                        <button id="deleteByID" class="btn btn-sm text-white" onclick="deleteID()" style="background-color:#f5365c;" disabled>Xóa</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="header-body">
                <form method="get" asp-controller="Import" asp-action="Index">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Tìm kiếm</label>
                                <input name="KeyWord" class="form-control" type="search" placeholder="Bạn cần tìm gì...........">
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-search-input" class="form-control-label text-white">Nhà cung cấp</label>
                                <select name="ProviderID" onchange="this.form.submit()" asp-items="@ViewBag.Provider" class="form-control" id="exampleFormControlSelect1">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label text-white">Ngày bắt đầu</label>
                                <input class="form-control" type="date" name="DateFrom" onchange="this.form.submit()" id="example-date-input">
                            </div>
                        </div>
                        <div class="col-lg-2 col-7">
                            <div class="form-group">
                                <label for="example-date-input" class="form-control-label text-white">Ngày kết thúc</label>
                                <input class="form-control" type="date" name="DateTo" onchange="this.form.submit()" id="example-date-input">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Nhà cung cấp</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="sort text-center">
                                        <input type="checkbox" name="select-all" id="select-all" onClick="toggle(this)" class="checkbox" />
                                    </th>
                                    <th scope="col" class="sort" data-sort="budget">STT</th>
                                    <th scope="col" class="sort" data-sort="name">Tổng tiền</th>
                                    <th scope="col" class="sort" data-sort="name">Ngày nhập hàng</th>
                                    <th scope="col" class="sort" data-sort="name">Tên nhà cung cấp</th>
                                    <th scope="col" class="sort" data-sort="budget">Ngày tạo</th>
                                    <th scope="col" class="sort" data-sort="status">Người tạo</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" id="@item.ID" onchange="addIDToArray('@item.ID')">
                                        </td>
                                        <td>
                                        </td>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="name mb-0 text-sm">@Html.DisplayFor(modelItem => item.TotalAmount)0</span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            @Html.DisplayFor(modelItem => item.ImportDate)
                                        </td>
                                        <td class="budget">
                                            @Html.DisplayFor(modelItem => item.ProviderName)
                                        </td>
                                        <td class="budget">
                                            @Html.DisplayFor(modelItem => item.UpdateDate)
                                        </td>
                                        <td class="budget">
                                            @Html.DisplayFor(modelItem => item.UpdateUser)
                                        </td>

                                        <td class="text-right">
                                            <form asp-controller="Import" asp-action="IndexUpdate">
                                                <button type="submit"  class="btn btn-sm btn-icon-only text-light">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <input hidden type="text" value="@item.ID" name="ImportID" />
                                            </form>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- Card footer -->
                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="mt-3 ml-3 mb-3" role="document">
            <div class="modal-content">
                <form id="myform" method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Import">
                    <div class="text-right m-4">
                        <button type="submit" class="btn btn-outline-primary">Lưu</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="closeDialog()">Hủy bỏ</button>
                    </div>

                    <div class="modal-body">
                        <div class="mt--5">
                            <img alt="Image placeholder" src="../assets/img/brand/Logo9Lanh.png" class="mb--5">
                            <p class="h1 text-center" id="modal-title-notification">
                                PHIẾU NHẬP HÀNG HÓA
                            </p>
                            <div class="input-group" style="float:right; width:180px">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroup-sizing-lg"><strong>Mã số </strong></span>
                                    </div>
                                    <input type="text" readonly value="" name="ImportID" id="idImport" class="form-control text-red text-center">

                                </div>
                            </div>

                        </div>
                        <div class="py-3 mt-5 text-center">
                            Ngày @DateTime.Now.Day tháng @DateTime.Now.Month năm @DateTime.Now.Year
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" for="exampleFormControlSelect1">
                                        <strong>
                                            Tên nhà cung cấp
                                        </strong>
                                    </span>
                                </div>
                                <select class="form-control" id="dropboxProvider" name="ProviderID" required oninvalid="this.setCustomValidity('Không được để trống thông tin này')" onchange="viewtDetailProvider(value)">
                                    <option value="" hidden></option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg"><strong>SĐT và Địa chỉ</strong></span>
                                </div>
                                <input type="text" readonly value="" id="sDT" class="form-control">
                                <input type="text" readonly value="" id="dC" class="form-control ml--9">
                            </div>
                        </div>
                        <div class="table-responsive mt-4">
                            <table class="table align-items-center">
                                <thead class="thead-light">
                                    <tr class="text-center">
                                        <th scope="col" class="sort" data-sort="name">STT</th>
                                        <th scope="col" class="sort" data-sort="budget">
                                            Tên nhản hiệu, quy cách, phẩm chất vật tư<br>(sản phẩm, hàng hóa)
                                        </th>
                                        <th scope="col" class="sort" data-sort="status">Mã số</th>
                                        <th scope="col" style="width: 125px;">ĐVT</th>
                                        <th scope="col" style="width: 100px;">
                                            Số lượng
                                        </th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Thành tiền</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <!-- Page content -->
                                    <tr>
                                        <td class="budget text-center h6">
                                            1
                                        </td>
                                        <th scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <select class="form-control" id="dropboxProduct_1" name="ProductID_1" onclick="viewtDetailProduct_1 (value)">
                                                        <option value="" hidden></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="budget">
                                            <input class="form-control text-center text-red" type="text" value="" id="idProduct_1" readonly>
                                        </td>
                                        <td>
                                            <select class="form-control" name="IsUnit_1" id="exampleFormControlSelect1">
                                                <option value="" hidden></option>
                                                <option value="1">Cái</option>
                                                <option value="2">Lon</option>
                                                <option value="3">Bộ</option>
                                                <option value="4">Hộp</option>
                                                <option value="5">Thùng</option>
                                            </select>

                                        </td>
                                        <td>
                                            <input class="form-control" type="number" value="0" name="Quantily_1" id="numberProduct_1" onchange="totalAmount_1 ()">
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="number" class="form-control text-right"
                                                       aria-label="Dollar amount (with dot and two decimal places)" name="CostPrice_1" value="0" id="moneyProduct_1" onchange="totalAmount_1 ()">
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.000</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control text-right"
                                                       aria-label="Dollar amount (with dot and two decimal places)" id="total_1" readonly>
                                                <div class="input-group-append">
                                                    <span class="input-group-text">.000</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-icon btn-sm btn-outline-success" type="button" onclick="showRow_2 ()">
                                                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                            </button>
                                            <button class="btn btn-icon btn-sm btn btn-outline-danger" type="button" onclick="unShowRow_2 ()">
                                                <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- Page content -->
                                    @for (int i = 2; i <= 10; i++)
                                    {
                                        <tr hidden id="row_@i">
                                            <td class="budget text-center h6">
                                                @i
                                            </td>
                                            <th scope="row">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <select class="form-control" id="dropboxProduct_@i" name="ProductID_@i" onclick="viewtDetailProduct_@i (value)">
                                                            <option value="" hidden></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="budget">
                                                <input class="form-control text-center text-red" type="text" value="" id="idProduct_@i" readonly>
                                            </td>
                                            <td>
                                                <select class="form-control" name="IsUnit_@i" id="exampleFormControlSelect1">
                                                    <option value="" hidden></option>
                                                    <option value="1">Cái</option>
                                                    <option value="2">Lon</option>
                                                    <option value="3">Bộ</option>
                                                    <option value="4">Hộp</option>
                                                    <option value="5">Thùng</option>
                                                </select>

                                            </td>
                                            <td>
                                                <input class="form-control" type="number" value="0" name="Quantily_@i" id="numberProduct_@i" onchange="totalAmount_@i ()">
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="number" class="form-control text-right"
                                                           aria-label="Dollar amount (with dot and two decimal places)" name="CostPrice_@i" value="0" id="moneyProduct_@i" onchange="totalAmount_@i ()">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">.000</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    <input type="text" class="form-control text-right"
                                                           aria-label="Dollar amount (with dot and two decimal places)" id="total_@i" readonly>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">.000</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn btn-icon btn-sm btn-outline-success" type="button" onclick="showRow_@(i+1) ()">
                                                    <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
                                                </button>
                                                <button class="btn btn-icon btn-sm btn btn-outline-danger" type="button" onclick="unShowRow_@i ()">
                                                    <span class="btn-inner--icon"><i class="fas fa-minus"></i></span>
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                ...
            </div>
        </div>
    </div>
    @for (int i = 2; i <= 10; i++)
    {
        <script>
    BaseLocalhost = '@SystemConnection.BaseConnection'

    function totalAmount_@i () {
        var num1 = parseInt(document.getElementById("myform").elements["Quantily_@i"].value);
        var num2 = parseInt(document.getElementById("myform").elements["CostPrice_@i"].value);
        total = num1 * num2
        $('#total_@i').val(total);
    }
    async function viewtDetailProduct_@i (ID) {
        await $.ajax({
            url: BaseLocalhost + '/api/Product/GetToProduct/' + ID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#idProduct_@i').val(data.id);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
        };
        function showRow_@i () {
            $('#row_@i').prop('hidden', false);
        }
        function unShowRow_@i () {
            $('#row_@i').prop('hidden', true);
        }

        </script>
    }


</main>
<script>
    BaseLocalhost = '@SystemConnection.BaseConnection'

    listID = [];
    ///Load tổng tiền hàng
    function totalAmount_1 () {
        var num1 = parseInt(document.getElementById("myform").elements["Quantily_1"].value);
        var num2 = parseInt(document.getElementById("myform").elements["CostPrice_1"].value);
        total = num1 * num2
        $('#total_1').val(total);
    }
    function totalAmount_2 () {
        var num1 = parseInt(document.getElementById("myform").elements["Quantily_2"].value);
        var num2 = parseInt(document.getElementById("myform").elements["CostPrice_2"].value);
        total = num1 * num2
        $('#total_2').val(total);
    }



////----------------------------------

    ///Show cột

    function showRow_2 () {
        $('#row_2').prop('hidden', false);
    }

    ////Ẩn cột

    function unShowRow_2 () {
        $('#row_2').prop('hidden', true);
    }


/////-----------------------------------




    ///Hiển thị mã hàng

    async function viewtDetailProduct_1 (ID) {
        await $.ajax({
            url: BaseLocalhost + '/api/Product/GetToProduct/' + ID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#idProduct_1').val(data.id);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
    };

///////-------------------------------------------




    function closeDialog() {
        $.ajax({
            url: BaseLocalhost + '/api/Import/GetImportFinalID',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data.id);
                $.ajax({
                    url: BaseLocalhost + '/api/Import/DeleteToImport?ImportID=' + data.id,
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        console.log('Sussces')
                        location.reload();
                    },
                    error: function () {
                        console.log('Connect failed');
                    },
                });
            },
            error: function () {
                console.log('Connection Fail');
            }
        });

    }
    function deleteItemInArray(arr, item) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === item) {
                arr.splice(i, 1);
                i--;
            }
        }
    };
    function findID(arr, item) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === item) {
                return true;
            }
        }
    };
    function toggleButton() {
        if (listID.length == 0) {
            $('#deleteByID').prop('disabled', true);
        } else {
            $('#deleteByID').prop('disabled', false);
        }
    };
    function addIDToArray(ID) {
        if (!findID(listID, ID)) {
            listID.push(ID);

            console.log(listID)

        } else {
            deleteItemInArray(listID, ID);
        }
        toggleButton()
    };
    function toggle(source) {
        $('#select-all').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
            $('td input:checkbox', table).each(function () {
                if (this.checked) {
                    listID.push($(this).attr('id'));
                }
                else {
                    deleteItemInArray(listID, $(this).attr('id'));
                }
            });
            toggleButton();
            console.log(listID)
        });
    };
    async function deleteID() {
        for (var i = 0; i < listID.length; i++) {
            await $.ajax({
                url: BaseLocalhost + '/api/Import/DeleteToImport?ImportID=' + listID[i],
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                   document.getElementById('msg').innerHTML =
                        `
                             <div class="alert alert-success alert-dismissible fade show mt--6 ml-3 position-absolute opacity-8" role="alert">
                                 <span class="alert-icon"> <i class="fas fa-check-circle"></i></span>
                                 <span class="alert-text"><strong>@MessageModel.DeleteItemSuccessful</strong></span>
                                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                     <span aria-hidden="true">&times;</span>
                                 </button>
                             </div>
                        `;
                    setTimeout(function () { $('#msg').fadeOut('slow'); }, 700);
                    setTimeout(function () { location.reload(); }, 800);
                },
                error: function () {
                    document.getElementById('msg').innerHTML =
                        `
                            <div class="alert alert-danger alert-dismissible fade show  mt--6 ml-3 position-absolute opacity-8" role="alert">
                                <span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>
                                <span class="alert-text"><strong>@MessageModel.DeleteItemFaled</strong></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        `;
                    setTimeout(function () { $('#msg').fadeOut('slow'); }, 700);
                    console.log('Connect failed');
                },
            });
        }
        location.reload();
    };
    async function createImport() {
        await $.ajax({
            url: BaseLocalhost + '/api/Import/CreateToImport',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                console.log('Sussces');
            },
            error: function () {
                 document.getElementById('msg').innerHTML =
                        `
                            <div class="alert alert-danger alert-dismissible fade show  mt--6 ml-3 position-absolute opacity-8" role="alert">
                                <span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>
                                <span class="alert-text"><strong>@MessageModel.DeleteItemFaled</strong></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        `;
                    setTimeout(function () { $('#msg').fadeOut('slow'); }, 700);
                    console.log('Connect failed');
            },
        });
        await $.ajax({
            url: BaseLocalhost + '/api/Import/GetImportFinalID',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $('#idImport').val(data.id);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
        await $.ajax({
            url: BaseLocalhost + '/api/Provider/GetToProvideOnNameAndID',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var options_str = "";
                data.forEach(element =>
                    options_str += '<option  value="' + element.providerID + '">' + element.providerName + '</option>'
                );

                $('#dropboxProvider').append(options_str)
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
        await $.ajax({
            url: BaseLocalhost + '/api/Product/GetToProductToNameAndID',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var options_str = "";
                data.forEach(element =>
                    options_str += '<option  value="' + element.productID + '">' + element.productName + '</option>'
                );
                $('#dropboxProduct_1').append(options_str)
                $('#dropboxProduct_2').append(options_str)
                $('#dropboxProduct_3').append(options_str)
                $('#dropboxProduct_4').append(options_str)
                $('#dropboxProduct_5').append(options_str)
                $('#dropboxProduct_6').append(options_str)
                $('#dropboxProduct_7').append(options_str)
                $('#dropboxProduct_8').append(options_str)
                $('#dropboxProduct_9').append(options_str)
                $('#dropboxProduct_10').append(options_str)
            },
            error: function () {
                console.log('Connection Fail');
            }
        });

    }
    async function viewtDetail(ID) {
        await $.ajax({
            url: BaseLocalhost + '/api/Provider/GetToProvider/' + ID + '/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data)
                $('#providerID').html(data.id);
                $('#providerName').html(data.name);
                $('#numberPhone').html(data.numberPhone);
                $('#address').html(data.address);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
    }
    async function viewtDetailImport() {
        await $.ajax({
            url: BaseLocalhost + '/api/Import/GetImportFinalID',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#idImport').html(data.id);
            },
            error: function () {
                 document.getElementById('msg').innerHTML =
                        `
                            <div class="alert alert-danger alert-dismissible fade show  mt--6 ml-3 position-absolute opacity-8" role="alert">
                                <span class="alert-icon"><i class="fas fa-exclamation-triangle"></i></span>
                                <span class="alert-text"><strong>@MessageModel.DeleteItemFaled</strong></span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        `;
                    setTimeout(function () { $('#msg').fadeOut('slow'); }, 700);
                    console.log('Connect failed');
            }
        });
    }
    async function viewtDetailProvider(ID) {
        await $.ajax({
            url: BaseLocalhost + '/api/Provider/GetToProvider/'+ ID,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#sDT').val(data.numberPhone);
                $('#dC').val(data.address);
            },
            error: function () {
                console.log('Connection Fail');
            }
        });
    };
</script>

